.awesome-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.awesome-card{
    max-width: 350px;
    margin: 0 15px;
}

.awesome-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #E72424;
    overflow: hidden;
    margin: 0 auto 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome-image img{
    padding: 22px 16px;
}

.awesome-span{
    display: block;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 16px;
}

.awesome-description{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}