.axure{
    background-image: url('../images/axure-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 4;
}

.axure::before{
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
}

.axure-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 34px;
    text-transform: uppercase;
    color: #FFF;
}

.axure-title::after{
    content: '';
    margin: 30px auto;
    width: 64px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    display: block;
}

.axure-paragraph p{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-bottom: 57px;
}

.axure-button-wrap{
    padding-bottom: 38px;
    display: flex;
    justify-content: center;
}

.azure-button{
    color: #FFF;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.azure-button:hover{
    background-color: rgba(255, 255, 255, 0.27);
}