@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.awesome-title{
    font-family: 'Raleway', sans-serif;
    color: #212121;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.line{
    border: 1px solid #E72424;
    width: 64px;
    height: 2px;
    margin: auto;
    margin-bottom: 34px;
}

.awesome-paragraph{
    color: #86878B;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 68px;
}

.awesome-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome-card{
    max-width: 350px;
}

.awesome-image{
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
 
}

.awesome-image img{
    border: 1px solid #E72424;
    padding: 22px 16px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.awesome-span{
    display: block;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 16px;
}

.awesome-description{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}