
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400&display=swap');
@import url('header.css');
@import url('awesome.css');
@import url('pricing.css');
@import url('customers.css');
@import url('axure.css');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container{
    position: relative;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 5;
}

.title{
    font-family: 'Raleway', sans-serif;
    color: #212121;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 34px;
    text-transform: uppercase;
}

.title::after{
    content: '';
    margin: 34px auto;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    display: block;
}

.paragraph{
    color: #86878B;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 68px;
    font-family: 'Open Sans';
    font-weight: 300;
}


section{
    padding-top: 80px;
    padding-bottom: 96px;
}

