.pricing{
    background-color: #F5F5F5;
    padding-bottom: 59px;
}

.pricing-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.pricing-card{
    width: 340px;
    margin: 0 15px;
}

.pricing-card-item{
    background-color: #FFFFFF;
    color: #86878B;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 4px;
}

.pricing-card-item:nth-child(1){
    background-color: #333333;
    color: #FFFF;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 900;
}

.pricing-card-item:nth-child(2){
    background-color: #333333;
    color: #FFFF;
    text-align: center;
    padding: 26px 0 33px 0;
    margin-bottom: 2px;
    font-size: 35px;
    font-weight: 900;
}

.pricing-card-item:nth-child(3){
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 26px 0 33px 0;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}